@model List<UserCustomerViewModel>

@{
    ViewData["Title"] = "Customer List";
}

<div class="row">
    <div class="col-12 d-flex justify-content-center mt-5 mb-5">
        <div class="col-8">
            <table class="table table-striped">
                <thead class="text-center">
                    <tr>
                        <th>Customer ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Date register</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @if (Model != null && Model?.Count > 0)
                    {
                        @foreach (var customer in Model)
                        {
                            <tr>
                                <td>@customer.CustomerId</td>
                                <td>@customer.Name</td>
                                <td>@customer.Email</td>
                                <td>@customer.DateRegister</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>